{% extends "layout.html" %}
{% block content %}
  <textblock class="media content-section" >
    <div class="media-body">
      <h2 class = "textblock-title">Shopping List Tracker</h2>
      <p class="textblock-content">This application allows lets users track prices of given items. You will be able to add items you want to keep track of and see their price fluctuation over time. Doing so will help you know if you missed a good deal or should buy right now. </p>
      <p class = "testblock-content">Select an option from the right sidebar</p>
      <small>Current Stores Supported: Amazon, Walmart</small>
    </div>
  </textblock>
{% endblock content %}

